{% extends 'base.html' %} {% block content %}

<style>
	header {
		background: url(static/images/header-bg.jpg) no-repeat bottom center;
		background-size: cover;
		color: #cfcfcf;
		position: relative;
		height: 100%;
	}
	header p {
		color: rgba(255, 255, 255, 0.5);
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 60px;
		padding: 0 4px;
	}
	.intro-text {
		position: relative;
		padding-top: 250px;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 200px;
	}
	.intro-text H1 {
		font-size: 60px;
		color: #eeeeee;
		font-weight: 600;
	}
	h5{
		font-size: 20px;
		line-height: 1.2 !important;
	}
	p{
		color: #6d6d6d;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
	}
</style>
<header class="text-center" name="home">
	<div class="intro-text">
		<h1>We are <span class="color">Corporation</span></h1>
		<p>An award winning multipurpose company</p>
	</div>
</header>
<section class="service-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-8 mb-4 mb-sm-0">
				<div class="ot-heading mb-0">
					<h2 class="main-heading" style="font-size: 36px !important; font-weight:800 !important;		">
						We Offer a Wide <br />Variety of Services
					</h2>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 text-sm-right align-self-end">
				<div class="ot-button">
					<a href="{% url 'products:productpage' %}?type=Agriculture" class="octf-btn octf-btn-primary"
						>Our Products</a
					>
				</div>
				<div class="space-10"></div>
			</div>
		</div>
		<div class="space-55"></div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="far fa-building"></i></div>
					<div class="content-box">
						<h5>Who We Are</h5>
						<p>
							We carry more than just good coding skills. Our experience makes
							us stand out from other web development.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="fas fa-cogs"></i></i></div>
					<div class="content-box">
						<h5>What We Do</h5>
						<p>
							Create complex enterprise software, ensure reliable software
							integration, modernise your legacy system.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main">	<i class="fas fa-globe"></i></div>
					<div class="content-box">
						<h5>Why Choose Us</h5>
						<p>
							Build the product you need on time with an experienced team that
							uses a clear and effective design process.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

 <section class="portfolio-grid ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="ot-heading">
                                {% comment %} <span>// latest case studies</span> {% endcomment %}
                                <h2 class="main-heading ">Introduce Our Awards</h2>
                            </div>
                            <div class="space-5"></div>
                            {% comment %} <p>Software development outsourcing is just a tool to achieve business goals. But there is no way<br>to get worthwhile results without cooperation and trust between a client company.</p> {% endcomment %}
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-lg-12">
                            <div class="project-filter-wrapper">
                                <ul class="project_filters">
							{% for category in categories %}
									<li><a
										href="#"
										class="filterGroup btn-click {% if request.GET.type == category.categoryName %}selected{% endif %}"
										data-filter=".{{ category.categoryName }}"
										>{{ category.categoryName }}</a
									></li>

                                      	{% endfor %}
                                </ul>
							 <div
					class="projects-grid projects-style-1 projects-col3"
					style="top: 50px"
				>
					{% for award in awards %}
					<div class="project-item {{ award.awardCategory }}">
						<div class="projects-box">
							<div class="projects-thumbnail">
								<a href="#">
									<img
										src="{{ award.awardImage.url }}"
										style="width: 350px; height: 300px"
										alt=""
									/>
								</a>
							</div>
							<div
								class="portfolio-info"
								style="opacity: 1; background-color: transparent"
							>
								<a class="overlay" href="#"></a>
								
							</div>
							<div class="portfolio-info">
								<a class="overlay" href="#"></a>
								
							</div>
						</div>
					</div>
					{% endfor %}	
				</div>
                            <div class="space-60"></div>
							
							
                           

                        </div>
                    </div>
                </div>
            </section>

{% endblock content %}
