{% extends 'base.html' %} {% block content %}

<style>

	h5{
		font-size: 20px;
		line-height: 1.2 !important;
	}
	p{
		color: #6d6d6d;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
	}
</style>
<div class="page-header flex-middle" style="background-image: url(../../static/images/2.jpg) !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    position: relative;">
		<div class="container">
			<div class="inner flex-middle">
				{% comment %} <h1 class="page-title">Contact Us</h1> {% endcomment %}
				<ul id="breadcrumbs" class="breadcrumbs none-style">
				</ul>
			</div>
		</div>
	</div>
	<h1 class="main-heading text-center mt-5" style="font-size: 45px !important; border-bottom: 5px solid;font-weight:800 !important; color: #7141b1; padding-bottom: 20px;		">
						About Us
					</h1>
					
<section class="service-page" style=" padding-top: 110px; padding-bottom: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-8 mb-4 mb-sm-0">
				<div class="ot-heading mb-0">
				{% comment %} <span>// about us</span> {% endcomment %}
					<h2 class="main-heading" style="font-size: 36px !important; font-weight:800 !important;		">
						We Offer a Wide <br />Variety of Services
					</h2>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 text-sm-right align-self-end">
				{% comment %} <div class="ot-button">
					<a href="{% url 'products:productpage' %}?type=Agriculture" class="octf-btn octf-btn-primary"
						>Our Products</a
					>
				</div> {% endcomment %}
				<div class="space-10"></div>
			</div>
		</div>
		<div class="space-55"></div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="far fa-building"></i></div>
					<div class="content-box">
						<h5>Who We Are</h5>
						<p>
							We carry more than just good coding skills. Our experience makes
							us stand out from other web development.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="fas fa-cogs"></i></div>
					<div class="content-box">
						<h5>What We Do</h5>
						<p>
							Create complex enterprise software, ensure reliable software
							integration, modernise your legacy system.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main">	<i class="fas fa-globe"></i></div>
					<div class="content-box">
						<h5>Why Choose Us</h5>
						<p>
							Build the product you need on time with an experienced team that
							uses a clear and effective design process.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="service-page" style="padding-bottom: 50px; padding-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-8 mb-4 mb-sm-0">
				<div class="ot-heading mb-0">
					<h2 class="main-heading" style="font-size: 36px !important; font-weight:800 !important;		">
						Our Goals
					</h2>
				</div>
			</div>
			<div class="col-md-6 col-sm-4 text-sm-right align-self-end">
				{% comment %} <div class="ot-button">
					<a href="{% url 'products:productpage' %}?type=Agriculture" class="octf-btn octf-btn-primary"
						>Our Products</a
					>
				</div> {% endcomment %}
				<div class="space-10"></div>
			</div>
		</div>
		<div class="space-55"></div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="fas fa-hourglass-half"></i></div>
					<div class="content-box">
						<h5>Who We Done</h5>
						<p>
							We carry more than just good coding skills. Our experience makes
							us stand out from other web development.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main"><i class="fas fa-stopwatch"></i></div>
					<div class="content-box">
						<h5>What We Are Doing</h5>
						<p>
							Create complex enterprise software, ensure reliable software
							integration, modernise your legacy system.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="icon-box-s2 s1 pb-60">
					<div class="icon-main">	<i class="fas fa-rocket"></i></div>
					<div class="content-box">
						<h5>What We Will Be Doing</h5>
						<p>
							Build the product you need on time with an experienced team that
							uses a clear and effective design process.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


 <section class="portfolio-grid ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="ot-heading ">
                                {% comment %} <span>// latest case studies</span> {% endcomment %}
                                <h2 class="main-heading " style="font-size: 36px !important; font-weight:800 !important;		">Introduce Our Awards</h2>
                            </div>
                            <div class="space-5"></div>
                            {% comment %} <p>Software development outsourcing is just a tool to achieve business goals. But there is no way<br>to get worthwhile results without cooperation and trust between a client company.</p> {% endcomment %}
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-lg-12">
                            <div class="project-filter-wrapper ">
                                <ul class="project_filters ">
									<li class="float-left float-md-left"><a id="all" href="#" data-filter="*" class="selected">All</a></li>
							{% for category in categories %}
							 	
									<li class="float-left float-md-left"><a
									id="{{ category.categoryName }}"
										href="#"
										class="filterGroup btn-click "
										data-filter=".{{ category.categoryName }}"
										>{{ category.categoryName }}</a
									></li>

                                      	{% endfor %}
                                </ul>
							 <div
							 
					class="projects-grid projects-style-1 projects-col3"
					style="top: 50px"
				>
					{% for award in awards %}
					<div class="project-item {{ award.awardCategory }}">
						<div class="projects-box">
							<div class="projects-thumbnail">
								<a href="#">
									<img
										src="{{ award.awardImage.url }}"
										style="width: 300px; height: 300px"
										alt=""
									/>
								</a>
							</div>
							<div
								class="portfolio-info"
								style="opacity: 1; background-color: transparent"
							>
								<a class="overlay" href="#"></a>
								
							</div>
							<div class="portfolio-info">
								<a class="overlay" href="#"></a>
								
							</div>
						</div>
					</div>
					{% endfor %}	
				</div>
                            <div class="space-60"></div>
							
							
                           

                        </div>
                    </div>
                </div>
            </section>

			

			<script>
				$(document).ready(function() {
				
				setTimeout(function() {
					$('#Agriculture').click();
					$('#all').click();
				},1000)
					
               
				})
			
			</script>
			
			{% endblock content %}
