{% extends 'base.html' %} {% block content %} {% load static %}
<div id="content" class="site-content">
	<div class="page-header flex-middle" style="    background-image: url(../../static/images/1-mk.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	 height: 500px;
    position: relative;
    background-color: white;">
		<div class="container">
			<div class="inner flex-middle">
				{% comment %} <h1 class="page-title">Contact Us</h1> {% endcomment %}
				<ul id="breadcrumbs" class="breadcrumbs none-style">
				</ul>
			</div>
		</div>
	</div>
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="contact-left">
						<div class="ot-heading"	>
							{% comment %} <span>// contact details</span> {% endcomment %}
							<h2 class="main-heading">Contact us</h2>
						</div>
						<div class="space-5"></div>
						<p>
							Give us a call or drop by anytime, we endeavour to answer all
							enquiries within 24 hours on business days. We will be happy to
							answer your questions.
						</p>
						<div class="contact-info box-style1">
							<i class="flaticon-world-globe"></i>
							<div class="info-text">
								<h6>Our Address:</h6>
								<p>Rajkot - 360001, Gujarat, India</p>
							</div>
						</div>
						<div class="contact-info box-style1">
							<i class="flaticon-envelope"></i>
							<div class="info-text">
								<h6>Our Mailbox:</h6>
								<p>indiatradingcorporations@gmail.com</p>
							</div>
						</div>
						<div class="contact-info box-style1">
							<i class="flaticon-phone-1"></i>
							<div class="info-text">
								<h6>Our Phone:</h6>
								<p>+91 63551 15277</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<form  action="/contact" method="post" class="wpcf7">
                              {% csrf_token %}

						<div class="main-form">
							<h2>Ready to Get Started?</h2>
							<p class="font14">
								Your email address will not be published. Required fields are
								marked *
							</p>
							<p>
								<input
									type="text"
									name="name"
									value=""
									size="40"
									class=""
									aria-required="true"
									aria-invalid="false"
									placeholder="Your Name *"
									required
								/>
							</p>
							<p>
								<input
									type="email"
									name="email"
									value=""
									size="40"
									class=""
									aria-required="true"
									aria-invalid="false"
									placeholder="Your Email *"
									required
								/>
							</p>
							<p>
								<textarea
									name="message"
									cols="40"
									rows="10"
									class=""
									aria-invalid="false"
									placeholder="Message..."
									required
								></textarea>
                                 <input type="hidden" name="next" value="{{ request.path }}">
							</p>
							<p>
								<button type="submit" class="octf-btn octf-btn-light">
									Send Message
								</button>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
</div>
	<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="ot-heading">
						<h2 class="main-heading" style="margin-top:-60px;" >Read Most <br />Frequent Questions</h2>
					</div>
					<div class="space-25"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="ot-accordions">
						<div class="acc-item">
							<span class="acc-toggle"
								>How To Choose A Good QA Consultant?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>How to Create a Chatbot to Fit Your Needs?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									We help ambitious businesses like yours generate more profits
									by building awareness, driving web traffic, connecting with
									customers, and growing overall sales. Give us a call.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>What is off page SEO link building?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>How can I order web design for my website?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>Best SEO Practices for Page Layouts
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="ot-accordions">
						<div class="acc-item">
							<span class="acc-toggle"
								>How Does Off Site SEO Work?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>Why is SEO Link Building Important?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									We help ambitious businesses like yours generate more profits
									by building awareness, driving web traffic, connecting with
									customers, and growing overall sales. Give us a call.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>Why is Researching Keywords Important?
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>Best SEO Practices for Page Layouts
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
						<div class="acc-item">
							<span class="acc-toggle"
								>Best SEO Practices for High Quality Content
								<i class="down flaticon-download-arrow"></i
								><i class="up flaticon-up-arrow"></i>
							</span>
							<div class="acc-content">
								<p>
									Google has said for years that the most important single
									factor to them is high quality content. Now more than ever,
									they have the ability.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<div class="no-padding">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.9191599510314!2d70.76496921495502!3d22.318896885313897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959c99fab3b176d%3A0x3b0bd6688769a252!2sThe%20Spire!5e0!3m2!1sen!2sin!4v1617861496236!5m2!1sen!2sin" height="500" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
	{% endblock content %}
</div>
